CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
m_string.exe
tempCodeRunnerFile.cpp
test.exe
test.cpp
.cache/clangd/index/m_string.cpp.984C419654BCA67F.idx
.cache/clangd/index/m_string.h.DE16B8C615A45001.idx
.cache/clangd/index/test.cpp.ECE7AB0BA48CFF68.idx
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/DartConfiguration.tcl
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-3e4efbaf125b0fafb970.json
build/.cmake/api/v1/reply/codemodel-v2-09b7054eea93becb2c1c.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2021-09-28T10-29-46-0229.json
build/.cmake/api/v1/reply/target-Continuous-Debug-42b46268aba833868d09.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-02e82b89c85900cbe834.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-8cf2f41724a3220d6eb4.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-29d682355cd54d3481ed.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-bd531458021f500b6403.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-cf5c17cdd526fe22b834.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-66a6aaa03f0483601ed4.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-4ebbba5c1f93eafc5528.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-da1f7aae46f9c3a2617f.json
build/.cmake/api/v1/reply/target-Experimental-Debug-9c5423a9abeb198a52d9.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-1fc6b85c5c282c820bcc.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-e0e1a43e7f90ea3447d9.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-dbd89e236956055a1056.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-a3988be41cc5faffbb95.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-3293c963c2223ee52770.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-1d9e3c0bde520dc81479.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-5c7bd0d5bd365d959ec9.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-7eddc7ed6f92bad9374e.json
build/.cmake/api/v1/reply/target-Nightly-Debug-a8082aee6208bd173448.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-04b89f20760f02dbb2e0.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-7f216ebcbc27ea576e60.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-5570eacd1817ad1a9d14.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-8aea6390a09ff6c751d3.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-c104b13dce552c34983f.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-770b862d2dc8d2b1f3c8.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-78209970edd0fb332238.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-7a1f0cc62b8bd39d47a9.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-ee0ccde045b9aa2fac9d.json
build/.cmake/api/v1/reply/target-string-Debug-df5b399591b039921ce7.json
build/.cmake/api/v1/reply/toolchains-v1-56bf92e63bc32ee7c106.json
CMakeLists.txt